<div class="panel panel-default">
    <div clas="panel-header">
        <span class="label label-primary">Jmeter测试报告</label>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <td>测试计划</td>
                    <td>{{ .log.JobName }}</td>
                </tr>
                <tr>
                    <td>开始时间</td>
                    <td>{{ .log.StartTs|strftime }}</td>
                </tr>
                <tr>
                    <td>结束时间</td>
                    <td>{{ .log.EndTs|strftime }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div clas="panel-header">
        <span class="label label-primary">列表报告</label>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <th>HTTP请求</th>
                <th>请求总数</th>
                <th>平均响应时间</th>
                <th>响应时间[Median]</th>
                <th>响应时间[P90]</th>
                <th>响应时间[P95]</th>
                <th>响应时间[P99]</th>
                <th>Min</th>
                <th>Max</th>
                <th>错误率%</th>
                <th>QPS</th>
                <th>KB/sec</th>
            </tr>
            {{ range .log.MetricsList }}
            <tr>
                <td>{{ .Label }}</td>
                <td>{{ .Total }}</td>
                <td>{{ .Latencies.Average }} ms</td>
                <td>{{ .Latencies.P50 }} ms</td>
                <td>{{ .Latencies.P90 }} ms</td>
                <td>{{ .Latencies.P95 }} ms</td>
                <td>{{ .Latencies.P99 }} ms</td>
                <td>{{ .Latencies.Min }} ms</td>
                <td>{{ .Latencies.Max }} ms</td>
                <td>{{ .ErrorRate }}%</td>
                <td>{{ .Qps }}</td>
                <td>{{ .Kbs }}</td>
            </tr>
            {{ end }}
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-header">
        <span class="label label-primary">图形报告</label>
</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="graph_latency_rate" style="width:100%;height:500px"></div>
            </div>
        </div>
    </div>
    </br>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="graph_tps" style="width:100%;height:500px"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  var graph_latency_rate = echarts.init(document.getElementById("graph_latency_rate"))
  var LatencyMetrics = {{ .log.LatencyMetrics }}
  var xElapsed = LatencyMetrics.elapsed;
  var dataList = LatencyMetrics.data_list;
  var dSeries = LatencyMetrics.series;
  for (var i = 0; i < dataList.length; i++) {
      var j = 0;
      for (j = 0; j < dataList[i].length; j++) {
          if (dataList[i][j] == -1) {
              dataList[i][j] = '-'
          }
      }
   }

   var series = [];
   for (var i = 0; i < dataList.length; i++) {
       series.push({
           connectNulls: true,
  name: dSeries[i],
  type:'line',
  data: dataList[i]
  });
   }

  var option = {
  title: {
  text: '响应时间分布图',
  subtext: {{ .log.JobName }}
  },
  tooltip: {
  trigger: 'axis'
  },
  legend: {
                       data: dSeries,
                       left: '10%'
  },
  toolbox: {
  show: true,
  feature: {
  dataZoom: {
  yAxisIndex: 'none'
  },
  dataView: {readOnly: false},
  magicType: {type: ['line', 'bar']},
  restore: {},
  saveAsImage: {}
  }
  },
  xAxis:  {
  type: 'category',
  boundaryGap: false,
  data: xElapsed
  },
  yAxis: {
  type: 'value',
  axisLabel: {
  formatter: '{value}'
  }
  },
  series: series
  };
  graph_latency_rate.setOption(option)

</script>
<script type="text/javascript">
  var graph_tps = echarts.init(document.getElementById("graph_tps"))
  var TpsMetrics = {{ .log.TransactionMetrics }}
  var xElapsed = TpsMetrics.elapsed;
  var dataList = TpsMetrics.data_list;
  var dSeries = []
  for (var i = 0; i < TpsMetrics.series.length; i++) {
      dSeries.push(TpsMetrics.series[i]+" (success)")
      dSeries.push(TpsMetrics.series[i]+" (failure)")
  }
  for (var i = 0; i < dataList.length; i++) {
      var j = 0;
      for (j = 0; j < dataList[i].success.length; j++) {
          if (dataList[i].success[j] == -1) {
              dataList[i].success[j] = '-'
          }
      }
      for (j = 0; j < dataList[i].failure.length; j++) {
          if (dataList[i].failure[j] == -1) {
              dataList[i].failure[j] = '-'
          }
      }
   }

   var series = [];
   for (var i = 0; i < dataList.length; i++) {
       series.push({
           connectNulls: true,
  name: dSeries[2*i],
  type:'line',
  data: dataList[i].success
  });

  series.push({
      connectNulls: true,
      name: dSeries[2*i+1],
  type:'line',
  data: dataList[i].failure
  });
   }

  var option = {
  title: {
  text: 'TPS分布图',
  subtext: {{ .log.JobName }}
  },
  tooltip: {
  trigger: 'axis'
  },
  legend: {
                       data: dSeries,
                       left: '10%'
  },
  toolbox: {
  show: true,
  feature: {
  dataZoom: {
  yAxisIndex: 'none'
  },
  dataView: {readOnly: false},
  magicType: {type: ['line', 'bar']},
  restore: {},
  saveAsImage: {}
  }
  },
  xAxis:  {
  type: 'category',
  boundaryGap: false,
  data: xElapsed
  },
  yAxis: {
  type: 'value',
  axisLabel: {
  formatter: '{value}'
  }
  },
  series: series
  };
  graph_tps.setOption(option)

</script>
<script type="text/javascript">
$(function () {
      $('[data-toggle="popover"]').popover()
})

$(window).resize(function(){
  graph_tps.resize();
})
</script>
